<swiper
  [slidesPerView]="1"
  [spaceBetween]="10"
  [navigation]="true"
  [pagination]="{ clickable: true }"
  [scrollbar]="{ draggable: true }">
  <ng-template swiperSlide>
    <div class="swiper-container">

      <div class="swiper-wrapper">

        <div *ngFor="let movie of movies" class="swiper-slide"
          [ngStyle]="{'background-size': 'cover', 'background-image': 'url(https://image.tmdb.org/t/p/original'+movie.backdrop_path+')'}">
          <div class="movie-description">
            <h3>{{ movie.title }}</h3>
            <p>{{ movie.overview }}</p>
          </div>
        </div>
      </div>

      <div class="swiper-pagination"></div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <div class="swiper-scrollbar"></div>
    </div>
  </ng-template>
</swiper>
